USE [master]
GO
/****** Object:  Database [CiberBanco]    Script Date: 21/06/2021 20:14:16 ******/
CREATE DATABASE [CiberBanco]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CiberBanco', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\CiberBanco.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CiberBanco_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\CiberBanco_log.ldf' , SIZE = 1088KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CiberBanco].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CiberBanco]
GO
/****** Object:  Table [dbo].[CIBERBANCO_CUENTA_BANCARIA]    Script Date: 21/06/2021 20:14:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CIBERBANCO_CUENTA_BANCARIA](
	[ID] [int] IDENTITY(30000,1) NOT NULL,
	[ID_CLIENTE] [int] NULL,
	[SALDO] [decimal](18, 2) NULL,
	[ID_MONEDA] [int] NULL,
	[NUMERO_CUENTA] [varchar](30) NULL,
	[CCI] [varchar](30) NULL,
	[ESTADO] [int] NULL CONSTRAINT [DF__CIBERBANC__ESTAD__5812160E]  DEFAULT ((0)),
 CONSTRAINT [PK__CIBERBAN__3214EC2760B6BD58] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CIBERBANCO_CUENTA_USUARIO]    Script Date: 21/06/2021 20:14:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CIBERBANCO_CUENTA_USUARIO](
	[ID] [int] IDENTITY(30000,1) NOT NULL,
	[EMAIL] [varchar](100) NULL,
	[TIPO_DE_CUENTA] [int] NULL,
	[FECHA_NAC] [date] NULL,
	[SEXO] [int] NULL,
	[DIRECCION] [varchar](250) NULL,
	[ESTADO] [int] NULL DEFAULT ((0)),
	[ID_DISTRITO] [int] NULL,
	[nombre] [varchar](250) NULL,
	[apellido] [varchar](250) NULL,
	[documento] [varchar](250) NULL,
	[numerotarjeta] [nchar](15) NULL,
	[clave] [nchar](6) NULL
) ON [PRIMARY]
SET ANSI_PADDING OFF
ALTER TABLE [dbo].[CIBERBANCO_CUENTA_USUARIO] ADD [TIPO_USUARIO] [char](1) NULL

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CIBERBANCO_DETALLE_PAGO]    Script Date: 21/06/2021 20:14:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CIBERBANCO_DETALLE_PAGO](
	[ID] [int] IDENTITY(30000,1) NOT NULL,
	[ID_PAGO_CUOTAS] [int] NULL,
	[ID_CUOTA] [int] NULL,
	[FECHA] [date] NULL,
	[CANTIDAD] [int] NULL,
	[MONTO] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CIBERBANCO_DISTRITO]    Script Date: 21/06/2021 20:14:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CIBERBANCO_DISTRITO](
	[ID] [int] IDENTITY(30000,1) NOT NULL,
	[NOMBRE] [varchar](100) NULL,
	[ESTADO] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CIBERBANCO_METODO_PAGO]    Script Date: 21/06/2021 20:14:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CIBERBANCO_METODO_PAGO](
	[ID] [int] IDENTITY(30000,1) NOT NULL,
	[DESCRIPCION] [varchar](100) NULL,
	[ESTADO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CIBERBANCO_MONEDAS]    Script Date: 21/06/2021 20:14:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CIBERBANCO_MONEDAS](
	[ID] [int] IDENTITY(30000,1) NOT NULL,
	[MONEDA] [varchar](50) NULL,
	[simbolo] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CIBERBANCO_PAGO_CUOTAS]    Script Date: 21/06/2021 20:14:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CIBERBANCO_PAGO_CUOTAS](
	[ID] [int] IDENTITY(30000,1) NOT NULL,
	[ID_PRESTAMO_CUOTAS] [int] NULL,
	[ID_CLIENTE] [int] NULL,
	[FECHA_PAGO] [date] NULL,
	[SUBTOTAL] [decimal](18, 0) NULL,
	[ID_METODO_PAGO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CIBERBANCO_PRESTAMO_CLIENTE]    Script Date: 21/06/2021 20:14:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CIBERBANCO_PRESTAMO_CLIENTE](
	[ID] [int] IDENTITY(30000,1) NOT NULL,
	[DESCRIPCION] [varchar](500) NULL,
	[MONTO] [decimal](18, 0) NULL,
	[PLAZO_MESES] [int] NULL,
	[FECHA_INICIO] [date] NULL,
	[FECHA_FIN] [date] NULL,
	[ID_SOLICITUD] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CIBERBANCO_PRESTAMO_CUOTAS]    Script Date: 21/06/2021 20:14:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CIBERBANCO_PRESTAMO_CUOTAS](
	[ID] [int] IDENTITY(30000,1) NOT NULL,
	[ID_PRESTAMO_CLIENTE] [int] NULL,
	[MONTO] [decimal](18, 0) NULL,
	[INTERES] [decimal](18, 0) NULL,
	[DESCUENTO] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CIBERBANCO_PROMOCIONES]    Script Date: 21/06/2021 20:14:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CIBERBANCO_PROMOCIONES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](100) NULL,
 CONSTRAINT [PK_CIBERBANCO_PROMOCIONES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CIBERBANCO_SOLICITUD_CUENTA]    Script Date: 21/06/2021 20:14:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CIBERBANCO_SOLICITUD_CUENTA](
	[ID] [int] IDENTITY(30000,1) NOT NULL,
	[ID_CLIENTE] [int] NULL,
	[ID_TIPO_CUENTA] [int] NULL,
	[FECHA_SOLICITUD] [datetime] NULL,
	[NOTA] [varchar](500) NULL,
	[ORIGEN] [varchar](50) NULL,
	[ESTADO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CIBERBANCO_SOLICITUD_PRESTAMO]    Script Date: 21/06/2021 20:14:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CIBERBANCO_SOLICITUD_PRESTAMO](
	[ID] [int] IDENTITY(30000,1) NOT NULL,
	[ID_CLIENTE] [int] NULL,
	[ID_PRESTAMO] [int] NULL,
	[FECHA_SOLICITUD] [datetime] NULL,
	[NOTA] [varchar](500) NULL,
	[ORIGEN] [varchar](50) NULL,
	[ESTADO] [int] NULL DEFAULT ((0)),
 CONSTRAINT [PK_SOLICITUD_PRESTAMO_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CIBERBANCO_TARJETA]    Script Date: 21/06/2021 20:14:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CIBERBANCO_TARJETA](
	[ID] [int] IDENTITY(30000,1) NOT NULL,
	[ID_CUENTA_BANCARIA] [int] NULL,
	[NUMERO_TARJETA] [varchar](30) NULL,
	[CCV] [varchar](3) NULL,
	[CLAVE] [varbinary](max) NULL,
	[ESTADO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CIBERBANCO_TIPO_CUENTA]    Script Date: 21/06/2021 20:14:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CIBERBANCO_TIPO_CUENTA](
	[ID] [int] IDENTITY(30000,1) NOT NULL,
	[DESCRIPCION] [varchar](200) NULL,
	[ESTADO] [int] NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CIBERBANCO_TIPOS_DE_CAMBIO]    Script Date: 21/06/2021 20:14:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CIBERBANCO_TIPOS_DE_CAMBIO](
	[ID] [int] IDENTITY(30000,1) NOT NULL,
	[MONEDA_ORIGEN] [int] NULL,
	[MONEDA_DESTINO] [int] NULL,
	[TIPO_CAMBIO] [decimal](18, 2) NULL,
	[FECHA_CAMBIO] [date] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CIBERBANCO_TIPOS_DE_PRESTAMO]    Script Date: 21/06/2021 20:14:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CIBERBANCO_TIPOS_DE_PRESTAMO](
	[ID] [int] IDENTITY(30000,1) NOT NULL,
	[DESCRIPCION] [varchar](100) NULL,
	[PLAZO_MESES] [int] NULL,
	[MONTO] [decimal](18, 0) NULL,
	[MONEDA_ID] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CIBERBANCO_Transferencia]    Script Date: 21/06/2021 20:14:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CIBERBANCO_Transferencia](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idcuentaorigen] [int] NULL,
	[idcuentadestino] [int] NULL,
	[idmoneda] [int] NULL,
	[monto] [decimal](18, 2) NULL,
 CONSTRAINT [PK_CIBERBANCO_Transferencia] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[role]    Script Date: 21/06/2021 20:14:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[role](
	[id] [int] NOT NULL,
	[description] [varchar](50) NULL,
	[name] [varchar](50) NULL,
 CONSTRAINT [PK_role] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[user]    Script Date: 21/06/2021 20:14:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[user](
	[id] [int] NOT NULL,
	[email] [varchar](50) NULL,
	[first_name] [varchar](50) NULL,
	[last_name] [varchar](50) NULL,
	[password] [varchar](50) NULL,
	[username] [varchar](50) NULL,
 CONSTRAINT [PK_user] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[user_roles]    Script Date: 21/06/2021 20:14:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_roles](
	[user_id] [int] NOT NULL,
	[role_id] [int] NOT NULL,
 CONSTRAINT [PK_user_roles] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[CIBERBANCO_CUENTA_BANCARIA] ON 

INSERT [dbo].[CIBERBANCO_CUENTA_BANCARIA] ([ID], [ID_CLIENTE], [SALDO], [ID_MONEDA], [NUMERO_CUENTA], [CCI], [ESTADO]) VALUES (30003, 30006, CAST(90.00 AS Decimal(18, 2)), 30003, N'2019039167', NULL, NULL)
INSERT [dbo].[CIBERBANCO_CUENTA_BANCARIA] ([ID], [ID_CLIENTE], [SALDO], [ID_MONEDA], [NUMERO_CUENTA], [CCI], [ESTADO]) VALUES (30004, 30007, CAST(10.00 AS Decimal(18, 2)), 30003, N'1654516099', NULL, NULL)
INSERT [dbo].[CIBERBANCO_CUENTA_BANCARIA] ([ID], [ID_CLIENTE], [SALDO], [ID_MONEDA], [NUMERO_CUENTA], [CCI], [ESTADO]) VALUES (30005, 30008, CAST(950.00 AS Decimal(18, 2)), 30003, N'4571955328', NULL, NULL)
SET IDENTITY_INSERT [dbo].[CIBERBANCO_CUENTA_BANCARIA] OFF
SET IDENTITY_INSERT [dbo].[CIBERBANCO_CUENTA_USUARIO] ON 

INSERT [dbo].[CIBERBANCO_CUENTA_USUARIO] ([ID], [EMAIL], [TIPO_DE_CUENTA], [FECHA_NAC], [SEXO], [DIRECCION], [ESTADO], [ID_DISTRITO], [nombre], [apellido], [documento], [numerotarjeta], [clave], [TIPO_USUARIO]) VALUES (30006, N'ale@gmail.com', NULL, CAST(N'2021-06-19' AS Date), 1, N'calle lima', NULL, NULL, N'alessandro', N'de la cruz', N'74228120', N'218360517676052', N'230011', NULL)
INSERT [dbo].[CIBERBANCO_CUENTA_USUARIO] ([ID], [EMAIL], [TIPO_DE_CUENTA], [FECHA_NAC], [SEXO], [DIRECCION], [ESTADO], [ID_DISTRITO], [nombre], [apellido], [documento], [numerotarjeta], [clave], [TIPO_USUARIO]) VALUES (30007, N'pedro@gmail.com', NULL, CAST(N'2021-06-20' AS Date), NULL, N'av las gabiiotas', NULL, NULL, N'pedro', N'cruz dela ', NULL, N'105382208284949', N'239901', NULL)
INSERT [dbo].[CIBERBANCO_CUENTA_USUARIO] ([ID], [EMAIL], [TIPO_DE_CUENTA], [FECHA_NAC], [SEXO], [DIRECCION], [ESTADO], [ID_DISTRITO], [nombre], [apellido], [documento], [numerotarjeta], [clave], [TIPO_USUARIO]) VALUES (30008, N'ale@gmail.com', NULL, CAST(N'2021-06-20' AS Date), 1, N'santa anita lima', NULL, NULL, N'alex', N'de la cruz', N'74228120', N'384832793252587', N'23001 ', NULL)
SET IDENTITY_INSERT [dbo].[CIBERBANCO_CUENTA_USUARIO] OFF
SET IDENTITY_INSERT [dbo].[CIBERBANCO_MONEDAS] ON 

INSERT [dbo].[CIBERBANCO_MONEDAS] ([ID], [MONEDA], [simbolo]) VALUES (30003, N'Soles', N'S/.')
INSERT [dbo].[CIBERBANCO_MONEDAS] ([ID], [MONEDA], [simbolo]) VALUES (30004, N'Dolares', N'$')
INSERT [dbo].[CIBERBANCO_MONEDAS] ([ID], [MONEDA], [simbolo]) VALUES (30005, N'Euros', N'€')
SET IDENTITY_INSERT [dbo].[CIBERBANCO_MONEDAS] OFF
SET IDENTITY_INSERT [dbo].[CIBERBANCO_PROMOCIONES] ON 

INSERT [dbo].[CIBERBANCO_PROMOCIONES] ([ID], [NOMBRE]) VALUES (6, N'promo b')
INSERT [dbo].[CIBERBANCO_PROMOCIONES] ([ID], [NOMBRE]) VALUES (7, N'promo a')
SET IDENTITY_INSERT [dbo].[CIBERBANCO_PROMOCIONES] OFF
SET IDENTITY_INSERT [dbo].[CIBERBANCO_SOLICITUD_PRESTAMO] ON 

INSERT [dbo].[CIBERBANCO_SOLICITUD_PRESTAMO] ([ID], [ID_CLIENTE], [ID_PRESTAMO], [FECHA_SOLICITUD], [NOTA], [ORIGEN], [ESTADO]) VALUES (30000, 30000, NULL, CAST(N'2021-01-01 12:30:00.000' AS DateTime), N'Solicita préstamo a 20 cuotas', N'Web', 0)
SET IDENTITY_INSERT [dbo].[CIBERBANCO_SOLICITUD_PRESTAMO] OFF
SET IDENTITY_INSERT [dbo].[CIBERBANCO_TIPO_CUENTA] ON 

INSERT [dbo].[CIBERBANCO_TIPO_CUENTA] ([ID], [DESCRIPCION], [ESTADO]) VALUES (30000, N'debito', 1)
INSERT [dbo].[CIBERBANCO_TIPO_CUENTA] ([ID], [DESCRIPCION], [ESTADO]) VALUES (30001, N'credito', 1)
SET IDENTITY_INSERT [dbo].[CIBERBANCO_TIPO_CUENTA] OFF
SET IDENTITY_INSERT [dbo].[CIBERBANCO_TIPOS_DE_CAMBIO] ON 

INSERT [dbo].[CIBERBANCO_TIPOS_DE_CAMBIO] ([ID], [MONEDA_ORIGEN], [MONEDA_DESTINO], [TIPO_CAMBIO], [FECHA_CAMBIO]) VALUES (30008, 30003, 30004, CAST(3.00 AS Decimal(18, 2)), CAST(N'2021-05-22' AS Date))
INSERT [dbo].[CIBERBANCO_TIPOS_DE_CAMBIO] ([ID], [MONEDA_ORIGEN], [MONEDA_DESTINO], [TIPO_CAMBIO], [FECHA_CAMBIO]) VALUES (30015, 30004, 30003, CAST(4.00 AS Decimal(18, 2)), CAST(N'2021-06-27' AS Date))
INSERT [dbo].[CIBERBANCO_TIPOS_DE_CAMBIO] ([ID], [MONEDA_ORIGEN], [MONEDA_DESTINO], [TIPO_CAMBIO], [FECHA_CAMBIO]) VALUES (30014, 30004, 30003, CAST(4.00 AS Decimal(18, 2)), CAST(N'2021-06-20' AS Date))
SET IDENTITY_INSERT [dbo].[CIBERBANCO_TIPOS_DE_CAMBIO] OFF
SET IDENTITY_INSERT [dbo].[CIBERBANCO_Transferencia] ON 

INSERT [dbo].[CIBERBANCO_Transferencia] ([id], [idcuentaorigen], [idcuentadestino], [idmoneda], [monto]) VALUES (10, 30005, 30006, 30003, CAST(50.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[CIBERBANCO_Transferencia] OFF
INSERT [dbo].[role] ([id], [description], [name]) VALUES (1, N'ROLE_ADMIN', N'ADMIN')
INSERT [dbo].[role] ([id], [description], [name]) VALUES (2, N'ROLE_USER', N'USER')
INSERT [dbo].[role] ([id], [description], [name]) VALUES (3, N'ROLE_SUPERVISOR', N'SUPERVISOR')
INSERT [dbo].[user] ([id], [email], [first_name], [last_name], [password], [username]) VALUES (1, N'admin@admin.com', N'admin', N'admin', N'1234', N'admin')
INSERT [dbo].[user_roles] ([user_id], [role_id]) VALUES (1, 1)
INSERT [dbo].[user_roles] ([user_id], [role_id]) VALUES (2, 1)
INSERT [dbo].[user_roles] ([user_id], [role_id]) VALUES (3, 2)
ALTER TABLE [dbo].[CIBERBANCO_DISTRITO] ADD  DEFAULT ((0)) FOR [ESTADO]
GO
ALTER TABLE [dbo].[CIBERBANCO_SOLICITUD_CUENTA] ADD  DEFAULT ((0)) FOR [ESTADO]
GO
ALTER TABLE [dbo].[CIBERBANCO_TARJETA] ADD  DEFAULT ((0)) FOR [ESTADO]
GO
ALTER TABLE [dbo].[CIBERBANCO_DETALLE_PAGO]  WITH CHECK ADD FOREIGN KEY([ID_CUOTA])
REFERENCES [dbo].[CIBERBANCO_PRESTAMO_CUOTAS] ([ID])
GO
ALTER TABLE [dbo].[CIBERBANCO_DETALLE_PAGO]  WITH CHECK ADD FOREIGN KEY([ID_PAGO_CUOTAS])
REFERENCES [dbo].[CIBERBANCO_PAGO_CUOTAS] ([ID])
GO
ALTER TABLE [dbo].[CIBERBANCO_PRESTAMO_CUOTAS]  WITH CHECK ADD FOREIGN KEY([ID_PRESTAMO_CLIENTE])
REFERENCES [dbo].[CIBERBANCO_PRESTAMO_CLIENTE] ([ID])
GO
ALTER TABLE [dbo].[CIBERBANCO_TARJETA]  WITH CHECK ADD  CONSTRAINT [FK__CIBERBANC__ID_CU__5BE2A6F2] FOREIGN KEY([ID_CUENTA_BANCARIA])
REFERENCES [dbo].[CIBERBANCO_CUENTA_BANCARIA] ([ID])
GO
ALTER TABLE [dbo].[CIBERBANCO_TARJETA] CHECK CONSTRAINT [FK__CIBERBANC__ID_CU__5BE2A6F2]
GO
/****** Object:  StoredProcedure [dbo].[SP_Validar_Cuenta]    Script Date: 21/06/2021 20:14:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Validar_Cuenta] (@numero varchar(15),@clave varchar(6))
  AS
  begin
  SELECT * FROM CIBERBANCO_CUENTA_USUARIO WHERE numerotarjeta = @numero AND CLAVE = @clave;
  end;

GO
USE [master]
GO
